body {
    background-image:url(/images/Totoro_and_Mei.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

button {
    color: darkgreen;
    opacity: 0.80;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px 20px;
    border: none;
}

button:hover {
    opacity: .60;
}

#timer-options {
    display: flex;
    justify-content: center;  
    gap: 25px;                
}

#timer-display {
    display: flex;
    justify-content: center;
    position: relative;
    top: 350px;
    gap: 25px;
}

#customization {
    display: flex;
    justify-content: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    position: relative;
    top: 390px;
    font-size: 36px;
}